<html>
    <head>
        <title>Manual created auth page</title>
        <script src="js/response.js"></script>
    </head>
    <body>
        <button onclick="doLogin()">Login</button>
        <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=3006758226031506&redirect_uri=https://localhost:8000/index">login</a>
    </body>
</html>